<!-- 
    base.html โครงสร้างหลักของทุกหน้า
-->
<!-- 
    <ion-icon name="stats-chart"></ion-icon>
    <ion-icon name="add"></ion-icon>
    <ion-icon name="home"></ion-icon>
    <ion-icon name="calendar"></ion-icon>
    <ion-icon name="calendar-clear"></ion-icon>
    <ion-icon name="calendar-number"></ion-icon>
    <ion-icon name="settings"></ion-icon>
    <ion-icon name="person"></ion-icon>
-->

<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Planner</title>
    <link rel="stylesheet" href="/app/static/css/main.css">
    <link rel="stylesheet" href="/app/static/css/components.css">
    <link rel="stylesheet" href="/app/static/css/responsive.css">
    
</head>

<body data-day="monday" data-page="home">
    
    <div class="app-container">
        
        <main class="main-content">
        </main>

        <nav class="bottom-nav">
            <a href="home.html" class="nav-item" data-page="home">
                <ion-icon name="home"></ion-icon>
                <span>Home</span>
            </a>
            <a href="schedule.html" class="nav-item" data-page="schedule">
                <!-- <ion-icon name="calendar"></ion-icon> -->
                <!-- <ion-icon name="calendar-clear"></ion-icon> -->
                <ion-icon name="calendar-number"></ion-icon>
                <span>Schedule</span>
            </a>
            <a href="add.html" class="nav-item nav-item-center" data-page="add">
                <div class="add-button">
                    <ion-icon name="add"></ion-icon>
                </div>
            </a>
            <a href="stat.html" class="nav-item" data-page="stat">
                <ion-icon name="stats-chart"></ion-icon>
                <span>Stats</span>
            </a>
            <a href="profile.html" class="nav-item" data-page="profile">
                <ion-icon name="person"></ion-icon>
                <span>Profile</span>
            </a>
        </nav>

    </div>

    <script>
        const currentPage = document.body.dataset.page;
        const navItems = document.querySelectorAll('.nav-item');
        navItems.forEach(item => {
            if (item.dataset.page === currentPage) {
                item.classList.add('active');
            }
        });
    </script>
</body>
</html>